.home_wall {
  width: 100%;
}
section {
  background: #0c111b;
  height: 200vh;
}
h1 {
  color: antiquewhite;
  padding-left: 56px;
}
.cards_layout {
  width: 90%;
  margin-left: 60px;
}
.cards {
  width: 321px;
}
.card_img_div{
  overflow:hidden;height:123px
}
.cards_img {
  width: 100%;
}
.card-container {
  background: linear-gradient(0deg, #1a2b4a 0%, #2b507c 105.38%);
  /* height: 70px; */
  position: relative;
  bottom: 24px;
}
.card-header {
  padding-left: 23px;
  padding-top: 10px;
  color: #fff;
}
.card_wrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
}
.card_rating {

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;

}
.card_rating-fix{
  display: flex;gap:20px
}
.card_rating span{
  color:  #B3B3B3; padding-left: 4px;
  
}
.star_sty{
  width: 15px;height: 15px;
}
.card-play {
  /* width: 50%; */

}

.card-play img {
  background: linear-gradient(180deg, #ff9966 0%, #ff5e62 100%);
  width: 32px;
  height: 32px;
  padding: 5px;
  border-radius: 50px;
  display: flex;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

@media only screen and (min-width: 320px) and (max-width: 481px) {

  .card_wrapper{
    grid-template-columns: auto;
  }
  .cards_layout{
    width:0%;
    padding-left: 120px;
  }
  section{
    height: 250vh;
  }
}
     /* Media Query for Tablets Ipads portrait mode */
     @media (min-width: 768px) and (max-width: 1024px){
      .card_wrapper{
        grid-template-columns: auto auto;
      }
  }

  @media (min-width: 1025px) and (max-width: 1280px){
    .card_wrapper{
      grid-template-columns: auto auto;
    }
}
